beautifulsoup4>=4.12.0
bs4==0.0.1
certifi>=2023.7.22
database-connect==0.1.66
flask-cors==4.0.0
gunicorn==21.2.0
ipykernel==6.26.0
plotly>=5.18.0
pysocks==1.7.1
python-dotenv>=1.0.1
requests>=2.31.0
selenium>=4.15.2
selenium-stealth>=1.0.6
streamlit>=1.28.0
tiktoken>=0.8.0

-e .